Source: u-boot-pinea64-2
Section: misc
Priority: extra
Maintainer: Gavin Delcie <gavin@farsouthnet.com>
Build-Depends: debhelper (>= 9), arm-trusted-firmware (>= 1.0), device-tree-compiler, bison, flex, python:native, python-dev:native, swig
Standards-Version: 3.9.4

Package: u-boot-pinea64-2
Architecture: any
Depends: 
Description: Boot image for pinea64 2 using u-boot v2021.01-rc1-149-g7a8ac9df
 Boot image for pinea64 2 (Allwinner A64), based on u-boot 
 with SPL and ARM trusted firmware.

