// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
// Copyright (c) 2017 Icenowy Zheng <icenowy@aosc.xyz>
// Based on sun50i-a64-sopine-baseboard.dts, which is:
//   Copyright (c) 2016 ARM Ltd.

/dts-v1/;

#include "sun50i-a64-sopine-mscm.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/thermal/thermal.h>

/ {
	model = "SoPine with MSCM_v2.x";
	compatible = "pine64,mscm", "pine64,sopine",
		     "allwinner,sun50i-a64";

	aliases { /* These will hint at the ordering / bus number assignment in u-boot dm */
		ethernet0 = &emac;
		serial0 = &uart0;
		spi0 = &spi0;
		spi1 = &spi1;
		i2c0 = &i2c0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
		serial4 = &uart4;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	hdmi-connector {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi_con_in: endpoint {
				remote-endpoint = <&hdmi_out_con>;
			};
		};
	};

	reg_vcc1v8: vcc1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};
	
	leds {
		compatible = "gpio-leds";
		blue {
			label = "wanderer:blue";
			gpios = <&pio 7 9 GPIO_ACTIVE_HIGH>; /* PH9 */
			default-state = "on";
		};
		wifi_wake {
			label = "wifi:wake";
			gpios = <&r_pio 0 3 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		/*wifi_en {
			label = "wifi:en";
			gpios = <&r_pio 0 2 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
		wifi_rst {
			label = "wifi:rst";
			gpios = <&r_pio 0 4 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};*/	
	};
	
};

&ehci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&emac {
	pinctrl-names = "default";
	pinctrl-0 = <&rgmii_pins>;
	phy-mode = "rgmii";
	phy-handle = <&ext_rmii_phy>;
	phy-supply = <&reg_dc1sw>;
	status = "okay";
};

&mdio {
	ext_rmii_phy: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};

&hdmi {
	hvcc-supply = <&reg_dldo1>;
	status = "okay";
};

&hdmi_out {
	hdmi_out_con: endpoint {
		remote-endpoint = <&hdmi_con_in>;
	};
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;
	status = "okay";
	eeprom: eeprom@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
		pagesize = <8>;
	};
	usb2514b@2c {
		compatible = "microchip,usb2514b";
		reg = <0x2c>;
		reset-gpios = <&pio 7 10 GPIO_ACTIVE_LOW>;
	};
};

&i2c0_pins {
	bias-pull-up;
	drive-strength = <30>;
};


&spi0 {
	status = "okay";
};

&spi1 {
	status = "okay";
};

&mmc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc2_pins>;
	vmmc-supply = <&reg_dcdc1>;
	vqmmc-supply = <&reg_vcc1v8>;
	bus-width = <4>;
	non-removable;
	cap-mmc-hw-reset;
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&reg_dc1sw {
	/*
	 * Ethernet PHY needs 30ms to properly power up and some more
	 * to initialize. 100ms should be plenty of time to finish
	 * whole process.
	 *
	 * regulator-always-on;
	 * regulator-enable-ramp-delay = <100000>;
	*/
	regulator-name = "vcc-phy";
};

&reg_dldo1 {
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vcc-hdmi";
};

&reg_dldo2 {
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vcc-wifi";
};

&reg_dldo4 {
    regulator-always-on;
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vcc-wifi-io";
};

&simplefb_hdmi {
	vcc-hdmi-supply = <&reg_dldo1>;
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pb_pins>;
	status = "okay";
};

/* On Pi-2 connector */
&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pins>;
	status = "disabled";
};

/* On Euler connector */
&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pins>;
	status = "disabled";
};

/* On Euler connector, RTS/CTS optional */
&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_pins>;
	status = "disabled";
};

&usb_otg {
	dr_mode = "host";
	status = "okay";
};

&usbphy {
	status = "okay";
};
